/* Color Palette */
$coral: #f7c6b1;
$teal: #086375;
$green: #81ae9d;
$taupe: #86615c;
$dark: #2c1320;

@media screen and (max-width: 800px){}

@media screen /*and (min-width: 801px)*/{
    #header{
        text-align: center;
        display: grid;
        width: 100%;

        #title{ grid-area: title; }
        #hnav{ grid-area: hnav; }
        #search{ grid-area: search; }

        grid-template-areas: 
        'title title title title'
        'hnav hnav hnav search';
    }

    #title{
        font-weight: bold;
        color: $teal;
        font-size: 2em;
    }

    #hnav{
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: $teal;
        }
        li{
            float: left;
            
            a{
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                color: $coral;
            }

            a:hover{
                background-color: $green;
                color: $dark;
            }
        }
    }

    footer{
        text-align: center;
        font-weight: bold;
        background-color: $teal;
        color: $coral;
        text-decoration: none;

        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

        a{
            color: $coral;
        }
    }
}
