/* Color Palette */
$coral: #f7c6b1;
$teal: #086375;
$green: #81ae9d;
$taupe: #86615c;
$dark: #2c1320;

#header{}

#hnav{
    background-color: $teal;

    li{
        display: inline;
    }

    a{
        display: block;
        padding: 8px;
    }
}

#sitemap{
    text-align: center;
    font-weight: bold;
}