#header{
    background-color: blue;
}

#hnav{
    background-color: grey;

    li{
        display: inline;
    }

    a{
        display: block;
        padding: 8px;
        background-color: white;
    }
}