/* Color Palette */
$primary: #FFC6C6; /* coral: #FFC6C6 */
$secondary: #086375; /* teal: #086375 */
$accent1: #FFDB9A; /* yellow: #FFDB9A */
$accent2: #81AE9D; /* green: #81AE9D */
$accent3: #86615C; /* taupe: #86615C */
$accent4: #2C1320; /* dark brown: #2C1329 */

/* Variables */
$mobile: 800px;
$desktop: 801px;
$hidden: none;

/* ----- MOBILE ----- */
@media screen and (max-width: $mobile){
    .asideimg{
        display: block;
    }

    #asideimg1{
        margin: auto;

        width: 80%;
        height: auto;
    }

    .bodyimg{
        display: block;
    }

    #bodyimg1{
        margin: auto;

        width: 90%;
        height: auto;
    }
}

/* ----- DESKTOP ----- */
@media screen and (min-width: $desktop){
    .bodyblock{
        margin: 0;
        padding: 0;
    }
    .body{
        margin-top: -6.75em;
        margin-left: 0;
        padding: 0;

        background-color: transparent;
        background-image: url("./Components/plumeria.jpg");
        background-repeat: no-repeat;
        background-size:cover;

        text-align: center;
    }
    h1{
        font-family: "Sarina", sans-serif;
        font-size: 10em;
        color: white;
        font-weight: bolder;
        text-shadow: 5px 1px $accent4;
        -webkit-text-stroke: 1px $accent4;
    }
    .aside{ display: $hidden; }
    #space { display: $hidden; }
}
