/* Color Palette */
$primary: #FFC6C6; /* coral: #FFC6C6 */
$secondary: #086375; /* teal: #086375 */
$accent1: #FFDB9A; /* yellow: #FFDB9A */
$accent2: #81AE9D; /* green: #81AE9D */
$accent3: #86615C; /* taupe: #86615C */
$accent4: #2C1320; /* dark brown: #2C1329 */

/* Variables */
$mobile: 800px; /* Max width for mobile: 800px */
$desktop: 801px; /* Min width for desktop: 801px */
$hidden: none; /* Hidden items: none */

/* ----- MOBILE ----- */
@media screen and (max-width: $mobile){
   .aside{ display: $hidden; }
   .space{ display: $hidden; }

   .body{
    background-color: transparent;

    text-align: center;
    }
    .subtitle{ display: $hidden; }
}

/* ----- DESKTOP ----- */
@media screen and (min-width: $desktop){
    .bodyblock{
        margin: 0;
        padding: 0;
    }
    .body{
        margin-top: -5.75em;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        opacity: 100%;
        background-color: transparent;

        text-align: center;
    }
    .aside{ display: $hidden; }
    #space { display: $hidden; }
}
