/* Color Palette */
$primary: #FFC6C6; /* coral: #FFC6C6 */
$secondary: #086375; /* teal: #086375 */
$accent1: #FFDB9A; /* yellow: #FFDB9A */
$accent2: #81AE9D; /* green: #81AE9D */
$accent3: #86615C; /* taupe: #86615C */
$accent4: #2C1320; /* dark brown: #2C1329 */

/* Variables */
$mobile: 800px;
$desktop: 801px;
$hidden: none;

/* ----- MOBILE ----- */
@media screen and (max-width: $mobile){
    .asideimg{}

    #asideimg1{
        width: 80%;
        height: auto;
    }

    .bodyimg{}

    #bodyimg1{
        text-align: center;
        width: 90%;
        height: auto;
    }
}

/* ----- DESKTOP ----- */
@media screen and (min-width: $desktop){}
