/* COLOR PALETTE -------------------- */
$primary: #FFC6C6; /* pink: #FFC6C6 */
$secondary: #086375; /* teal: #086375 */
$accent1: #FFDB9A; /* yellow: #FFDB9A */
$accent1transparent: #ffdc9ab4; /* yellow transparent: #FFDC9AB4 */
$accent2: #81AE9D; /* green: #81AE9D */
$accent3: #86615C; /* taupe: #86615C */
$accent4: #2C1320; /* dark brown: #2C1329 */

/* VARIABLES -------------------- */
$mobile: 800px; /* Max width for mobile: 800px */
$desktop: 801px; /* Min width for desktop: 801px */
$hidden: none; /* Hidden items: none */

/* UNIVERSAL -------------------- */
*{
    font-family: "Chewy", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TEXT -------------------- */
h1{ /* Site Title */
    font-family: "Sarina", sans-serif;
    font-size: 12vmax;
    color: white;
    font-weight: bolder;
    text-shadow: 5px 1px $accent4;
    -webkit-text-stroke: 1px $accent4;
    text-align: center;
}

h2{ /* Subheaders */
    text-align: center;
    color: $accent1;
    text-decoration: underline;
    text-shadow: 1px 1px $accent4;
    -webkit-text-stroke: 1px $accent4;
}

table{
    width: 100%;
    text-align: center;    

    th{
        text-decoration: underline;
        text-shadow: 1px 1px 1px $accent3;
        font-size: 1.25em;  
    }
}

/* ~~~~~ Mobile ~~~~~ */
@media screen and (max-width: $mobile){
/* HEADER -------------------- */
    /* Title */
    #title{
        position: sticky;
        padding-top: 0.3em;
        padding-bottom: 0.3em;

        font-family: "Sarina", sans-serif;
        text-align: center;
        font-size: 2.5em;
        font-weight: bold;
        color: $secondary;
        text-shadow: 1px 1px $accent4;

        background-color: $primary;
    }

    /* Mobile Navigational Buttons */
    #home-button{
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.5em;
        border: none;
        background: transparent;

        font-size: 2em;
        z-index: 10;

        .fa-house{
        color: $secondary;

        &:hover{
            color: $accent4;
        }
        }
    }

    #nav-button{
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5em;
        border: none;
        background: transparent;

        font-size: 2em;
        color: $secondary;
        font-weight: bold;

        z-index: 10;

        &:hover{
        color: $accent4;
        }
    }
    
    /* Navigation Dropdown */

    .nav-content{ display: $hidden; } /* hide navigation */
    .show{ display: inline-block; } /* shows navigation */
    #navtitle{ display: $hidden; }
    
    #nav{
        margin-bottom: 0.5em;
        position: sticky;
        background-color: $secondary;

        font-size: 2em;
        font-family: "Chewy", sans-serif;
        text-align: center;
        
        #home{ display: $hidden; } /* hides home link */
        .active{ display: $hidden; } /* Hides current page */
        
        a{
        display: block;

        color: $accent1;
        text-decoration: none;

        &:hover{
            background-color: $accent1;
            color: $accent4;
        }
        }
    }

    /* Subtitle */
    .subtitle{
        background-color: $secondary;
        
        color: $primary;
        font-family: "Chewy", sans-serif;
        text-align: center;
        font-size: 2em;
        text-shadow: 1px 1px $accent4;
    }

/* ----- BODY BLOCK ----- */
    body{
        background-image: url(https://media.istockphoto.com/id/177373992/photo/frangipani-plumeria-flower.jpg?s=612x612&w=0&k=20&c=iafVwjMlMR_pQUE41zbFwpuGJTF36uG4jdry4epG2T4=);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .aside{
        display: $hidden;

        box-sizing: border-box;
        background-color: $secondary;
        padding: 0.25em;
        overflow: hidden;

        button{
            background: none;
            border: none;
            width: 100%; 
            padding: 0;
            margin: 0;

            text-wrap: balance;
            word-wrap: break-word;
            text-align: center;
            color: $accent4;

            font-family: "Chewy", sans-serif;
            font-size: 1.25em;
        }
        
        a{
            display: block;
            padding: 0.25em;
            margin: 0.25em;
            color: $secondary;
            background-color: $accent1;

            &:hover{
                background-color: $primary;
                color: $accent4;
            }
        }
        .active{
            background-color: $primary;
            color: $accent4;
        }
    }
    
    #space{
        color: transparent;
        font-size: 0.5em;
    }
    .body{
        display: block;
        min-height: 65vh;
        margin-top: 0.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        padding-top: 0.5em;
        padding-left: 0.5em;
        padding-right: 0em;
        padding-bottom: 0.5em;
        background-color: $accent1transparent;
        
        text-wrap: balance;
        word-wrap: break-word;
        color: $accent4;
    }
    
    .subpage{
        label{
            display: block;
            background: $accent4;
            
            color: $accent1;
            text-align: center;
        }

        input{
            display: none;
        }

        input{
            & ~ div{
                display: $hidden;
            }
            &:checked ~ div{
                display: block;
            }
        }     
    }

/* ----- FOOTER ----- */
    footer{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 102vw;
            margin-left: -0.5em;
            background-color: $secondary;

            font-family: "Chewy", sans-serif;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            color: $primary;
            z-index: 10;

            a{
            color: $primary;
            }
    }
}

/* ~~~~~ Desktop & Print ~~~~~ */
@media all and (min-width: $desktop){
/* ----- HEADER ----- */
    /* Mobile Navigational Buttons & Title */
    #home-button{ display: $hidden; }
    #nav-button{ display: $hidden; }
    #title{ display: $hidden; }

    .header{
        box-sizing: border-box;
        display: flex;
        margin-top: -0.5em;
        margin-left: -0.5em;
        margin-right: -0.5em;
        padding: 0;
        z-index: 10;
    }
    /* Navigation */
    #nav{
        background-color: $secondary;
        padding-top: 1vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        padding-bottom: 1vw;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;

        a{
            display: inline;
            padding: 1.25vw;

            font-family: "Chewy",sans-serif;
            color: $accent1;
            text-align: center;
            text-decoration: none;

            &:hover{
                background-color: $accent2;
                color: $accent4;
            }
        }

        #navtitle{ /* Styling navigation title */
            display: inline-block;
            padding-top: 0.5em;
            padding-left: 0.5em;
            padding-right: 1em;
            padding-bottom: 0.5em;
            vertical-align: middle;

            font-family: "Sarina",sans-serif;
            font-size: 2em;
            color: $primary;
            text-align: center;
            text-decoration: none;
        }

        .active{
        background-color: $accent1;
        color: $accent4;
        }
    }

    /* Subtitle */
    .subtitle{ display: $hidden; }

/* ----- BODY BLOCK ----- */
    body{
        background-image: url(https://media.istockphoto.com/id/177373992/photo/frangipani-plumeria-flower.jpg?s=612x612&w=0&k=20&c=iafVwjMlMR_pQUE41zbFwpuGJTF36uG4jdry4epG2T4=);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .aside{
        box-sizing: border-box;
        display: $hidden;

        width: 15%;
        margin-left: -0.5em;
        float: left;
        background-color: $primary;
        padding: 0.5em;

        font-family: "Chewy", sans-serif;

        a{
            display: block;
            padding: 14px 16px;
            color: $accent4;

            &:hover{
                background-color: $accent1;
                color: $accent4;
            }
        }

        button{
            background: none;
            border: none;
            width: 100%; 
            padding: 0;
            margin: 0;

            text-wrap: balance;
            word-wrap: break-word;
            text-align: center;
            color: $accent4;

            font-family: "Chewy", sans-serif;
            font-size: 1.25em;
        }
    }

    #space{  
        font-size: 1em;
    }
    .body{
        padding: 1em;
        margin: 1em;
        min-height: 67vh;

        background-color: $accent1transparent;
    }

    .subpage{

        label{
            display: block;
            box-sizing: border-box;
            margin:0;
    
            background: $accent4;
            
            color: $accent1;
            text-align: center;
        }

        input{
            display: none;
        }

        input/*[type=checkbox]*/{
            & ~ div{
                display: $hidden;
            }
            &:checked ~ div{
                display: block;
            }
        }
    }
/* ----- FOOTER ----- */
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 102vw;
        margin-left: -0.5em;
        background-color: $secondary;

        font-family: "Chewy", sans-serif;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        color: $primary;
        z-index: 10;

        a{
        color: $primary;
        }
    }
}