/* Color Palette */
$primary: #FFC6C6; /* coral: #FFC6C6 */
$secondary: #086375; /* teal: #086375 */
$accent1: #FFDB9A; /* yellow: #FFDB9A */
$accent2: #81AE9D; /* green: #81AE9D */
$accent3: #86615C; /* taupe: #86615C */
$accent4: #2C1320; /* dark brown: #2C1329 */

/* Variables */
$mobile: 800px;
$desktop: 801px;
$hidden: none;

/* ----- Universal ----- */
body{
  margin: 0;
  padding: 0;
  background-color: $primary;
}

/* ----- MOBILE ----- */
@media screen and (max-width: $mobile){
/* ~~~~~ Header ~~~~~ */
  /* Title */
  #title{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: $secondary;
    text-shadow: 1px 1px $accent4;

    background-color: $primary;
  }

  /* Mobile Navigational Buttons */
  #home-button{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2em;
    border: none;
    background: transparent;

    font-size: 2em;

    .fa-house{
      color: $secondary;

      &:hover{
        color: $accent4;
      }
    }
  }

  #nav-button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.15em;
    border: none;
    background: transparent;

    font-size: 2em;
    color: $secondary;
    font-weight: bold;

    &:hover{
      color: $accent4;
    }
  }
  
  /* Navigation Dropdown */

  .nav-content{ display: $hidden; } /* hide navigation */
  .show{ display: inline-block; } /* shows navigation */

  #nav{
    margin-bottom: 0.5em;
    background-color: $secondary;

    color: $primary;
    font-size: 2em;
    text-align: center;

    a{
      display: block;

      color: $primary;
      text-decoration: none;

      #home{ display: $hidden; } /* hides home link */

      &:hover{
        background-color: $accent3;
      }
    }
  }

  /* Subtitle */
  .subtitle{
    background-color: $secondary;

    color: $primary;
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px $accent4;
  }

/* ~~~~~ BODY BLOCK ~~~~~ */
  .aside{
    box-sizing: border-box;
    min-height: 90.125dvh;
    width: 25%;
    background-color: $accent2;
    padding: 1%;
    float: left;
    overflow: hidden;

    text-wrap: balance;
    word-wrap: break-word;
    color: $accent4;
  }

  #space{
    color: $primary;
    font-size: 0em;
  }

  .body{
    box-sizing: border-box;
    min-height: 89vh;
    margin-top: 0.2em;
    margin-left: 26%;
    margin-bottom: 0.2em;
    padding: 1%;
    background-color: $accent1;
    
    text-wrap: balance;
    word-wrap: break-word;
    color: $accent4;
  }

/* ~~~~~ FOOTER ~~~~~ */
  footer{
    background-color: $secondary;

    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: $primary;

    a{
      color: $primary;
    }
  }
}

/* ----- DESKTOP ----- */
@media screen and (min-width: $desktop){
/* ~~~~~ Header ~~~~~ */
  .header{
    position: sticky;
    top: 0;
    left: 0;
  }

  #title{
    display: $hidden;
  }

  /* Mobile Navigational Buttons */
  #home-button{ display: $hidden; }
  #nav-button{ display: $hidden; }

  /* Nav Bar */

  #nav{
    background-color: $secondary;
    padding: 2.1vw;

    a{
      display: inline;
      padding: 1.5vw;

      color: $primary;
      text-align: center;
      text-decoration: none;

      &:hover, &:focus{
        background-color: $accent2;
        color: $accent4;
      }
    }

    .active{
      background-color: $accent1;
      color: $accent4;
    }
  }

  /* Subtitle */
  .subtitle{
      display: $hidden;
  }

/* ~~~~~ BODY BLOCK ~~~~~ */
  .bodyblock{
    margin: 0.2em;
  }
  .aside{
    box-sizing: border-box;
    min-height: 91dvh;
    width: 25%;
    background-color: $accent2;
    padding: 1%;
    margin-top: -0.2em;
    margin-left: -0.2em;
    float: left;
    overflow: hidden;

    text-wrap: balance;
    word-wrap: break-word;
    color: $accent4;
  }

  #space{
    color: $primary;
    font-size: 0em;
  }

  .body{
    box-sizing: border-box;
    min-height: 89vh;
    margin-top: 0.2em;
    margin-left: 26%;
    margin-bottom: 0.2em;
    padding: 1%;
    background-color: $accent1;
    
    text-wrap: balance;
    word-wrap: break-word;
    color: $accent4;
  }
/* ~~~~~ FOOTER ~~~~~ */
  footer{
    position: sticky;
    left: 0;
    bottom: 0;
    background-color: $secondary;

    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: $primary;

    a{
      color: $primary;
    }
  }
}