/* Color Palette */
/* pink: #FFC6C6 */
/* teal: #086375 */
/* yellow: #FFDB9A */
/* yellow transparent: #FFDC9A8F */
/* green: #81AE9D */
/* taupe: #86615C */
/* dark brown: #2C1329 */
/* Variables */
/* Max width for mobile: 800px */
/* Min width for desktop: 801px */
/* Hidden items: none */
html {
  font-family: "Chewy", sans-serif;
}

/* ~~~~~ Mobile ~~~~~ */
@media screen and (max-width: 800px) {
  /* ----- Header ----- */
  .header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Title */
  #title {
    position: sticky;
    margin-top: -0.5em;
    margin-left: -0.5em;
    margin-right: -0.25em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    font-family: "Sarina", sans-serif;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #086375;
    text-shadow: 1px 1px #2C1320;
    background-color: #FFC6C6;
  }
  /* Mobile Navigational Buttons */
  #home-button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2em;
    border: none;
    background: transparent;
    font-size: 2em;
    z-index: 10;
  }
  #home-button .fa-house {
    color: #086375;
  }
  #home-button .fa-house:hover {
    color: #2C1320;
  }
  #nav-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.15em;
    border: none;
    background: transparent;
    font-size: 2em;
    color: #086375;
    font-weight: bold;
    z-index: 10;
  }
  #nav-button:hover {
    color: #2C1320;
  }
  /* Navigation Dropdown */
  .nav-content {
    display: none;
  } /* hide navigation */
  .show {
    display: inline-block;
  } /* shows navigation */
  #navtitle {
    display: none;
  }
  #nav {
    box-sizing: border-box;
    margin-left: -0.5em;
    margin-right: -0.25em;
    margin-bottom: 0.5em;
    position: sticky;
    background-color: #086375;
    font-size: 2em;
    font-family: "Chewy", sans-serif;
    text-align: center;
    /* hides home link */
    /* Hides current page */
  }
  #nav #home {
    display: none;
  }
  #nav .active {
    display: none;
  }
  #nav a {
    display: block;
    color: #FFDB9A;
    text-decoration: none;
  }
  #nav a:hover {
    background-color: #FFDB9A;
    color: #2C1320;
  }
  /* Subtitle */
  .subtitle {
    background-color: #086375;
    box-sizing: border-box;
    margin-left: -0.5em;
    margin-right: -0.25em;
    color: #FFC6C6;
    font-family: "Chewy", sans-serif;
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px #2C1320;
  }
  /* ----- BODY BLOCK ----- */
  body {
    background-image: url(https://media.istockphoto.com/id/177373992/photo/frangipani-plumeria-flower.jpg?s=612x612&w=0&k=20&c=iafVwjMlMR_pQUE41zbFwpuGJTF36uG4jdry4epG2T4=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .bodyblock {
    box-sizing: border-box;
    margin-left: -0.5em;
    margin-right: -0.5em;
  }
  .aside {
    box-sizing: border-box;
    background-color: #086375;
    padding: 0.25em;
    overflow: hidden;
  }
  .aside button {
    background: none;
    border: none;
    width: 100%;
    padding: 0;
    margin: 0;
    text-wrap: balance;
    word-wrap: break-word;
    text-align: center;
    color: #2C1320;
    font-family: "Chewy", sans-serif;
    font-size: 1.25em;
  }
  .aside a {
    display: block;
    padding: 0.25em;
    margin: 0.25em;
    color: #086375;
    background-color: #FFDB9A;
  }
  .aside a:hover {
    background-color: #FFC6C6;
    color: #2C1320;
  }
  .aside .active {
    background-color: #FFC6C6;
    color: #2C1320;
  }
  #space {
    color: #FFC6C6;
    font-size: 0em;
  }
  .body {
    box-sizing: border-box;
    min-height: 75vh;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0em;
    padding-bottom: 0.5em;
    background-color: rgba(255, 220, 154, 0.5607843137);
    text-wrap: balance;
    word-wrap: break-word;
    color: #2C1320;
  }
  .subpage label {
    display: block;
    box-sizing: border-box;
    background: #086375;
    color: #FFC6C6;
    text-align: center;
  }
  .subpage input {
    display: none;
  }
  .subpage input ~ div {
    display: none;
  }
  .subpage input:checked ~ div {
    display: block;
  }
  /* ----- FOOTER ----- */
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 102vw;
    margin-left: -0.5em;
    background-color: #086375;
    font-family: "Chewy", sans-serif;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #FFC6C6;
    z-index: 10;
  }
  footer a {
    color: #FFC6C6;
  }
}
/* ~~~~~ Desktop & Print ~~~~~ */
@media all and (min-width: 801px) {
  /* ----- HEADER ----- */
  /* Mobile Navigational Buttons & Title */
  #home-button {
    display: none;
  }
  #nav-button {
    display: none;
  }
  #title {
    display: none;
  }
  .header {
    box-sizing: border-box;
    display: flex;
    margin-top: -0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding: 0;
    z-index: 10;
  }
  /* Navigation */
  #nav {
    background-color: #086375;
    padding-top: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 1vw;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
  }
  #nav a {
    display: inline;
    padding: 1.25vw;
    font-family: "Chewy", sans-serif;
    color: #FFDB9A;
    text-align: center;
    text-decoration: none;
  }
  #nav a:hover {
    background-color: #81AE9D;
    color: #2C1320;
  }
  #nav #navtitle { /* Styling navigation title */
    display: inline-block;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    vertical-align: middle;
    font-family: "Sarina", sans-serif;
    font-size: 2em;
    color: #FFC6C6;
    text-align: center;
    text-decoration: none;
  }
  #nav .active {
    background-color: #FFDB9A;
    color: #2C1320;
  }
  /* Subtitle */
  .subtitle {
    display: none;
  }
  /* ----- BODY BLOCK ----- */
  body {
    background-image: url(https://media.istockphoto.com/id/177373992/photo/frangipani-plumeria-flower.jpg?s=612x612&w=0&k=20&c=iafVwjMlMR_pQUE41zbFwpuGJTF36uG4jdry4epG2T4=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .bodyblock {
    margin: 0;
    padding: 0;
  }
  .aside {
    box-sizing: border-box;
    display: block;
    width: 15%;
    min-height: 90dvh;
    margin-left: -0.5em;
    float: left;
    background-color: #FFC6C6;
    padding: 0.5em;
    font-family: "Chewy", sans-serif;
  }
  .aside a {
    display: block;
    padding: 14px 16px;
    color: #2C1320;
  }
  .aside a:hover {
    background-color: #FFDB9A;
    color: #2C1320;
  }
  #space {
    color: transparent;
  }
  .body {
    box-sizing: border-box;
    margin-left: 17%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    padding: 1em;
    min-height: 76vh;
    background-color: rgba(255, 220, 154, 0.5607843137);
  }
  /* ----- FOOTER ----- */
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 102vw;
    margin-left: -0.5em;
    background-color: #086375;
    font-family: "Chewy", sans-serif;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #FFC6C6;
    z-index: 10;
  }
  footer a {
    color: #FFC6C6;
  }
}/*# sourceMappingURL=main.css.map */